<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.dao.TaskRecordMapper">
    <resultMap id="BaseResultMap" type="com.demo.entity.TaskRecord">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="record_id" property="recordId" jdbcType="VARCHAR"/>
        <result column="task_id" property="taskId" jdbcType="VARCHAR"/>
        <result column="operate_type" property="operateType" jdbcType="TINYINT"/>
        <result column="operate" property="operate" jdbcType="VARCHAR"/>
        <result column="operator" property="operator" jdbcType="VARCHAR"/>
        <result column="operate_time" property="operateTime" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="operator_id" property="operatorId" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="ExtResultMap" extends="BaseResultMap" type="com.demo.entity.ext.TaskRecordExt">
        <collection property="user" ofType="com.demo.entity.AdminUser" javaType="com.demo.entity.AdminUser"
                    select="com.demo.dao.AdminUserMapper.selectByUserName" column="operator"/>
        <collection property="taskInfo" ofType="com.demo.entity.TaskInfo" javaType="com.demo.entity.TaskInfo"
                    select="com.demo.dao.TaskInfoMapper.selectByTaskId" column="task_id"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, record_id, task_id, operate_type, operate, operator, operate_time, status, operator_id
  </sql>
    <sql id="ByMap_Where_Clause">
        <where>
            <if test="eqId != null">
                AND id = #{eqId,jdbcType=BIGINT}
            </if>
            <if test="eqRecordId != null">
                AND record_id = #{eqRecordId,jdbcType=VARCHAR}
            </if>
            <if test="eqTaskId != null">
                AND task_id = #{eqTaskId,jdbcType=VARCHAR}
            </if>
            <if test="eqOperateType != null">
                AND operate_type = #{eqOperateType,jdbcType=TINYINT}
            </if>
            <if test="eqOperate != null">
                AND operate = #{eqOperate,jdbcType=VARCHAR}
            </if>
            <if test="eqOperator != null">
                AND operator = #{eqOperator,jdbcType=VARCHAR}
            </if>
            <if test="eqOperateTime != null">
                AND operate_time = #{eqOperateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="eqStatus != null">
                AND status = #{eqStatus,jdbcType=TINYINT}
            </if>
            <if test="neqStatus != null">
                AND status != #{neqStatus,jdbcType=TINYINT}
            </if>
            <if test="eqOperatorId != null">
                AND operator_id = #{eqOperatorId,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>
    <sql id="ByMap_Set_Clause">
        <set>
            <if test="recordId != null">
                record_id = #{recordId,jdbcType=VARCHAR}
            </if>
            <if test="taskId != null">
                task_id = #{taskId,jdbcType=VARCHAR}
            </if>
            <if test="operateType != null">
                operate_type = #{operateType,jdbcType=TINYINT}
            </if>
            <if test="operate != null">
                operate = #{operate,jdbcType=VARCHAR}
            </if>
            <if test="operator != null">
                operator = #{operator,jdbcType=VARCHAR}
            </if>
            <if test="operateTime != null">
                operate_time = #{operateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT}
            </if>
            <if test="operatorId != null">
                operator_id = #{operatorId,jdbcType=VARCHAR}
            </if>
        </set>
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_task_record
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_task_record
        <if test="_parameter != null">
            <include refid="ByMap_Where_Clause"/>
            <if test="orderByClause != null">
                order by ${orderByClause}
            </if>
        </if>
    </select>
    <select id="selectExtByMap" parameterType="java.util.Map" resultMap="ExtResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_task_record
        <if test="_parameter != null">
            <include refid="ByMap_Where_Clause"/>
            <if test="orderByClause != null">
                order by ${orderByClause}
            </if>
        </if>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_task_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.demo.entity.TaskRecord">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_task_record (record_id, task_id, operate_type,
        operate, operator, operate_time,
        status, operator_id)
        values (#{recordId,jdbcType=VARCHAR}, #{taskId,jdbcType=VARCHAR}, #{operateType,jdbcType=TINYINT},
        #{operate,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, #{operateTime,jdbcType=TIMESTAMP},
        #{status,jdbcType=TINYINT}, #{operatorId,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.demo.entity.TaskRecord">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_task_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="recordId != null">
                record_id,
            </if>
            <if test="taskId != null">
                task_id,
            </if>
            <if test="operateType != null">
                operate_type,
            </if>
            <if test="operate != null">
                operate,
            </if>
            <if test="operator != null">
                operator,
            </if>
            <if test="operateTime != null">
                operate_time,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="operatorId != null">
                operator_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="recordId != null">
                #{recordId,jdbcType=VARCHAR},
            </if>
            <if test="taskId != null">
                #{taskId,jdbcType=VARCHAR},
            </if>
            <if test="operateType != null">
                #{operateType,jdbcType=TINYINT},
            </if>
            <if test="operate != null">
                #{operate,jdbcType=VARCHAR},
            </if>
            <if test="operator != null">
                #{operator,jdbcType=VARCHAR},
            </if>
            <if test="operateTime != null">
                #{operateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="operatorId != null">
                #{operatorId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.demo.entity.TaskRecord">
        update t_task_record
        <set>
            <if test="recordId != null">
                record_id = #{recordId,jdbcType=VARCHAR},
            </if>
            <if test="taskId != null">
                task_id = #{taskId,jdbcType=VARCHAR},
            </if>
            <if test="operateType != null">
                operate_type = #{operateType,jdbcType=TINYINT},
            </if>
            <if test="operate != null">
                operate = #{operate,jdbcType=VARCHAR},
            </if>
            <if test="operator != null">
                operator = #{operator,jdbcType=VARCHAR},
            </if>
            <if test="operateTime != null">
                operate_time = #{operateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="operatorId != null">
                operator_id = #{operatorId,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.demo.entity.TaskRecord">
    update t_task_record
    set record_id = #{recordId,jdbcType=VARCHAR},
      task_id = #{taskId,jdbcType=VARCHAR},
      operate_type = #{operateType,jdbcType=TINYINT},
      operate = #{operate,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      operate_time = #{operateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT},
      operator_id = #{operatorId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateByMap" parameterType="java.util.Map">
        update t_task_record
        <if test="_parameter != null">
            <include refid="ByMap_Set_Clause"/>
            <include refid="ByMap_Where_Clause"/>
        </if>
    </update>
</mapper>