<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.dao.UserMessageMapper">
    <resultMap id="BaseResultMap" type="com.demo.entity.UserMessage">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="task_id" property="taskId" jdbcType="VARCHAR"/>
        <result column="from_user_id" property="fromUserId" jdbcType="VARCHAR"/>
        <result column="to_user_id" property="toUserId" jdbcType="VARCHAR"/>
        <result column="message" property="message" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="is_read" property="isRead" jdbcType="TINYINT"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, task_id, from_user_id, to_user_id, message, create_time, is_read
  </sql>
    <sql id="ByMap_Where_Clause">
        <where>
            <if test="eqId != null">
                AND id = #{eqId,jdbcType=BIGINT}
            </if>
            <if test="eqTaskId != null">
                AND task_id = #{eqTaskId,jdbcType=VARCHAR}
            </if>
            <if test="eqFromUserId != null">
                AND from_user_id = #{eqFromUserId,jdbcType=VARCHAR}
            </if>
            <if test="eqToUserId != null">
                AND to_user_id = #{eqToUserId,jdbcType=VARCHAR}
            </if>
            <if test="eqMessage != null">
                AND message = #{eqMessage,jdbcType=VARCHAR}
            </if>
            <if test="eqCreateTime != null">
                AND create_time = #{eqCreateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="eqIsRead != null">
                AND is_read = #{eqIsRead,jdbcType=TINYINT}
            </if>
        </where>
    </sql>
    <sql id="ByMap_Set_Clause">
        <set>
            <if test="taskId != null">
                task_id = #{taskId,jdbcType=VARCHAR}
            </if>
            <if test="fromUserId != null">
                from_user_id = #{fromUserId,jdbcType=VARCHAR}
            </if>
            <if test="toUserId != null">
                to_user_id = #{toUserId,jdbcType=VARCHAR}
            </if>
            <if test="message != null">
                message = #{message,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="isRead != null">
                is_read = #{isRead,jdbcType=TINYINT}
            </if>
        </set>
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_user_message
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user_message
        <if test="_parameter != null">
            <include refid="ByMap_Where_Clause"/>
            <if test="orderByClause != null">
                order by ${orderByClause}
            </if>
        </if>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user_message
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.demo.entity.UserMessage">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_user_message (task_id, from_user_id, to_user_id,
        message, create_time, is_read
        )
        values (#{taskId,jdbcType=VARCHAR}, #{fromUserId,jdbcType=VARCHAR}, #{toUserId,jdbcType=VARCHAR},
        #{message,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{isRead,jdbcType=TINYINT}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.demo.entity.UserMessage">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_user_message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="taskId != null">
                task_id,
            </if>
            <if test="fromUserId != null">
                from_user_id,
            </if>
            <if test="toUserId != null">
                to_user_id,
            </if>
            <if test="message != null">
                message,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="isRead != null">
                is_read,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="taskId != null">
                #{taskId,jdbcType=VARCHAR},
            </if>
            <if test="fromUserId != null">
                #{fromUserId,jdbcType=VARCHAR},
            </if>
            <if test="toUserId != null">
                #{toUserId,jdbcType=VARCHAR},
            </if>
            <if test="message != null">
                #{message,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isRead != null">
                #{isRead,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.demo.entity.UserMessage">
        update t_user_message
        <set>
            <if test="taskId != null">
                task_id = #{taskId,jdbcType=VARCHAR},
            </if>
            <if test="fromUserId != null">
                from_user_id = #{fromUserId,jdbcType=VARCHAR},
            </if>
            <if test="toUserId != null">
                to_user_id = #{toUserId,jdbcType=VARCHAR},
            </if>
            <if test="message != null">
                message = #{message,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isRead != null">
                is_read = #{isRead,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.demo.entity.UserMessage">
    update t_user_message
    set task_id = #{taskId,jdbcType=VARCHAR},
      from_user_id = #{fromUserId,jdbcType=VARCHAR},
      to_user_id = #{toUserId,jdbcType=VARCHAR},
      message = #{message,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_read = #{isRead,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateByMap" parameterType="java.util.Map">
        update t_user_message
        <if test="_parameter != null">
            <include refid="ByMap_Set_Clause"/>
            <include refid="ByMap_Where_Clause"/>
        </if>
    </update>
</mapper>